body {
    background: #FFDAB9;
    font-family: Arial;
}

input[type="checkbox"]{
    display:none;
}

nav{
    background-color:rgba( 16,16,16,.5);
    wIdth:350px;
    height:100%;
    left: -350px;
    position:absolute;
    top: 0;
       
}

a{
    display:block;
    paddyng:20px 5px;
    color:white;
}

a:hover{
    background-color:rgb(176,224,230);
    color:black;
}

label{
    pedding:15px;
    position:absolute;
    z-index:1;
}

ul{
    list-style:none;
    padding-top: 57px;
    position: absolute;
    width: 100%
}

li {
    padding: 20px 10px;
}

.corpo{
    width:960px;
}

.conteudo{
    display: table;
}

.imagem{
    display: table-cell;
    float:left;
    
}

.texto{
    float:left;
    width:300px;
    margin-left:20px;
}

.texto > h2 {
    margin: 0;
}

.titulo{
    font-family:arial;
    color:#D8BFD8;
    justify:center;

}

div.pesquisar{
    width:200px;
    height:100;
    padding: 10px 10px;
}

.topo {
    padding: 10px;
    margin-bottom: 20px;
}

.topo > h1{
    margin: 0;
    text-align: center;
}

.topo div-menu-check {
    float: left;
}

.content {
    padding-top: 18px;
}